<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crq.oprosnik">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <uses-permission android:name="ru.evotor.permission.PAYMENT_SYSTEM" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="app_uuid"
            android:value="e9aaf4a2-e0da-4b04-b87a-a2b79809f944" />

        <activity android:name=".MainActivity">

            <meta-data
                android:name="ru.evotor.launcher.BACKGROUND_COLOR"
                android:value="#133788" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.EVOTOR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.EVOTOR" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>